<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407957103785-8bvd08lpkjc5g360rvmucii09gv5gtb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407957103785-8bvd08lpkjc5g360rvmucii09gv5gtb7</string>
	<key>API_KEY</key>
	<string>AIzaSyCMbHZYVd9lureAhhY-pboftSWRixjVPKs</string>
	<key>GCM_SENDER_ID</key>
	<string>407957103785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dnn.elasPromocoes</string>
	<key>PROJECT_ID</key>
	<string>elas-promocoes</string>
	<key>STORAGE_BUCKET</key>
	<string>elas-promocoes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407957103785:ios:8caeac94e965e795c535b8</string>
</dict>
</plist>